/* ******************** */
/* Import GoogleFont    */
/* ******************** */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:600');

/* ******************** */
/* Set CSS Variables    */
/* ******************** */
:root {
  --darkblue: #2193b0;
  --lightblue: #6dd5ed;
}


/* ******************** */
/* MashWall CSS         */
/* ******************** */

header {
  position: relative;
  height: 61.8vh;
  background-image: linear-gradient(to left, var(--darkblue), var(--lightblue));
}

body {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

p {
  line-height: 180%;
}

h1 {
  padding: 100px 0;
  font-size: 44px;
  text-align: center;
}

header h1 {
  color: white;
}

h1[id], h2[id] {
  padding-top: 65px;
  margin-top: -65px;
  --webkit-display: inline-block; /* required for webkit browsers */
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: 'Montserrat', sans-serif;
}

header img {
  width: 20vw;
  max-width: 250px;
  height: auto;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}


/* ******************** */
/* Styling Navigation   */
/* ******************** */

nav.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
div.navbar-brand .navbar-item {
  -webkit-transition: background-color 300ms; /* Safari */
  transition: background-color 300ms;
}
div.navbar-brand .navbar-item:hover {
  background: #fafafa;
}


/* ******************** */
/* Styling Contact-Form */
/* ******************** */

div.dsgvo label.label {
  font-weight: bold;
}

div.dsgvo label.checkbox {
  padding: 10px 15px 15px;
}

.label.dualinput {
  margin-bottom: 0;
}


/* ******************** */
/* Styling Sections     */
/* ******************** */

section.asymmetric {
 position: relative;
 background-color: var(--lightblue);
 margin-top: 80px;
 margin-bottom: 80px;
 z-index: 0;
}

section.asymmetric::before {
 position: absolute;
 content: "";
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: var(--lightblue);
 transform-origin: bottom right;
 transform: skewY(3deg);
 z-index: -10;
}

section.asymmetric::after {
 position: absolute;
 content: "";
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: var(--lightblue);
 transform-origin: bottom right;
 transform: skewY(-3deg);
 z-index: -10;
}

section.asymmetric.divergent::after {
 position: absolute;
 content: "";
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: var(--lightblue);
 transform-origin: top right;
 transform: skewY(-3deg);
 z-index: -10;
}


/* ******************** */
/* Styling Elements     */
/* ******************** */

.button.is-contact {
    background-color: var(--darkblue);
    border-color: transparent;
    color: #fff;
}

.button.is-primary {
    background-color: var(--darkblue);
    border-color: transparent;
    color: #fff;
}
